<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.samgoldsee.movie.mapper.MovieMapper">
    <select id="selectAll" resultType="com.samgoldsee.movie.vo.MovieVO">
        SELECT DISTINCT m.*
        FROM movie m
                 JOIN movie_record mr ON m.id = mr.movie_id
        GROUP BY m.id
        ORDER BY COUNT(mr.id) DESC
    </select>
    <select id="selectOption" resultType="com.samgoldsee.movie.vo.MovieVO">
        SELECT DISTINCT m.*
        FROM `movie` m
        JOIN `movie-movie_type` mmt ON m.id = mmt.movie_id
        <where>
            <if test="typeId != null">
                AND mmt.type_id = #{typeId}
            </if>
            <if test="zoneId != null">
                AND m.zone_id = #{zoneId}
            </if>
        </where>
    </select>
</mapper>