<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.samgoldsee.movie.mapper.RecordMapper">
    <select id="rankAll" resultType="com.samgoldsee.movie.vo.MovieRankVO">
        SELECT mr.movie_id movieId, m.name movieName, COUNT(mr.id) recordCnt
        FROM `movie_record` mr
                 JOIN movie.movie m on m.id = mr.movie_id
        GROUP BY m.id
        ORDER BY recordCnt DESC
        LIMIT 10
    </select>
    <select id="rankMonth" resultType="com.samgoldsee.movie.vo.MovieRankVO">
        SELECT mr.movie_id movieId,
               m.name      movieName,
               COUNT(*)    recordCnt
        FROM movie_record mr
                 JOIN movie.movie m on mr.movie_id = m.id
        WHERE mr.create_time >= NOW() - INTERVAL 30 DAY
        GROUP BY mr.movie_id
        ORDER BY recordCnt DESC
        LIMIT 10
    </select>
    <select id="rankWeek" resultType="com.samgoldsee.movie.vo.MovieRankVO">
        SELECT mr.movie_id movieId,
               m.name      movieName,
               COUNT(*)    recordCnt
        FROM movie_record mr
                 JOIN movie.movie m on mr.movie_id = m.id
        WHERE mr.create_time >= NOW() - INTERVAL 7 DAY
        GROUP BY mr.movie_id
        ORDER BY recordCnt DESC
        LIMIT 10
    </select>
    <select id="getExportRecords" resultType="com.samgoldsee.movie.vo.ReportVO">
        SELECT mr.id          recordId,
               u.name         userName,
               u.gender AS    gender,
               m.name         movieName,
               mr.create_time startTime,
               mr.update_time endTime
        FROM movie_record mr
                 JOIN user u ON mr.user_id = u.id
                 JOIN movie m ON mr.movie_id = m.id
        WHERE mr.create_time BETWEEN DATE_SUB(CURDATE(), INTERVAL 30 DAY) AND NOW()
        ORDER BY mr.create_time DESC
    </select>
</mapper>